.username-container {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.username-container svg {
  margin: 0 15px;
}

.username-container h1 {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.015em;
  margin: 0px;
}

.review-text {
  font-size: 16px;
  line-height: 22px;
  text-align: justify;
  letter-spacing: -0.015em;
  color: #cecece;
  padding: 10px 12px 20px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

@media (min-width: 1200px) {
  .username-container {
    margin-left: 15px;
  }

  .review-container h1 {
    font-size: 16px;
  }
}
