.catalog-container {
  font-size: 18px;
  color: #FFF;
  letter-spacing: -0.015em;
}

.catalog-title-container {
  margin-bottom: 16px;
}

.catalog-title-container h1 {
  font-size: 1em;
}

@media (min-width: 576px) {
  .catalog-container {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .catalog-container {
    font-size: 24px;
  }
}
