$theme-colors: (
  'primary': #ffc700,
);

$body-bg: #525252;
$body-color: #fff;
$form-feedback-invalid-color: rgb(215, 0, 0);

@import '~bootstrap/scss/bootstrap.scss';

a, a:hover {
  text-decoration: none;
  color: unset;
}
